site_name: phable
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/favicon.svg
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    # - content.code.annotation
    # ^ should this be content.code.annotate?  Not sure if needed for now
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: teal
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: teal
repo_name: phable
repo_url: https://github.com/rick-jennings/phable
extra_css:
  - stylesheets/extra.css
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        paths: [src]
        options:
          # merge_init_into_class: true
          # docstring_options:
          #   ignore_init_summary: true
          annotations_path: full
          signature_crossrefs: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          separate_signature: true
          show_root_heading: true
          show_root_full_path: false
          show_docstring_raises: true
          # show_docstring_description: true
          # show_signature_annotations: true

nav:
  - Home: index.md
  - API Reference:
    - HaystackClient: haystack-client.md
    - HaxallClient: haxall-client.md
    - XetoCLI: xeto-cli.md
    - Data Types: data-types.md
  - Examples:
    - Xeto Intro: xeto-intro.md
    - Logging: logging-example.md
    - Async Usage: async-example.md
